@model MassageStudioLorem.Services.Masseurs.Models.EditMasseurFormModel

@{ ViewBag.Title = "Edit Masseur"; }

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@if (Model?.Categories != null)
{
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <h2 class="heading-margin text-center">@ViewBag.Title</h2>
            <form method="post">
                <div class="form-group">
                    <label asp-for="FullName"></label>
                    <input asp-for="FullName" class="form-control">
                    <span asp-validation-for="FullName" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProfileImageUrl"></label>
                    <input asp-for="ProfileImageUrl" class="form-control">
                    <span asp-validation-for="ProfileImageUrl" class="small text-danger"></span>
                    <h7 class="text-muted">
                        @ImageUrl
                    </h7>

                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" rows="4" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId">
                        Please choose a category! Current category:
                        @(Model.CurrentCategoryName)
                    </label>
                    <select asp-for="CategoryId" class="form-control">
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="small text-danger"></span>
                    <h7 class="text-danger">
                        @ChangeCategory
                    </h7>
                </div>
                <div class="form-group">
                    <label asp-for="Gender">Please choose your biological gender!</label>
                    <select asp-for="Gender" class="form-control">
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="small text-danger"></span>
                </div>
                <input type="hidden" name="Id" value="@Model.Id">
                <input asp-controller="Masseurs" asp-action="Edit" class="btn btn-outline-warning text-center offset-md-4" type="submit" value="Edit" />
                <a asp-controller="Masseurs" asp-action="All" class="btn btn-outline-primary" style="margin: 5px">Cancel</a>
            </form>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}