@model AllCategoriesQueryModel
@using MassageStudioLorem.Global

@{
    ViewBag.Title = "Categories";
}

<div class="row">
    <div class="col-lg-8 mx-auto text-center">
        <div class="mb-4">
            <h6 class="text-uppercase">@Model.Name</h6>
            <hr class="solid">
        </div>
    </div>
</div>

<div class="card-deck">
    @foreach (var massage in Model.Massages)
    {
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-3" style="width: 16rem">
                    <img class="card-img-top" src="@massage.ImageUrl" alt="@massage.ShortDescription">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center">@massage.Name</h5>
                        <p class="card-text">@massage.ShortDescription</p>
                        <a asp-controller="Categories" asp-action="Details" asp-route-id="@massage.Id" class="btn btn-outline-primary">View More</a>
                        <a asp-controller="Categories" asp-action="" asp-route-id="" class="btn btn-outline-primary">Book</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@{
    var previousPage = Model.CurrentPage - 1;

    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Model.TotalCategories;
}

<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Categories"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage - 1)">
            Previous
        </a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                                     Model == null;
    }

    <div class="col-md-6">
        <a class="btn btn-primary float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="Categories"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)">
            Next
        </a>
    </div>
</div>