@model MassageStudioLorem.Models.Massages.SortedMassagesQueryModel

@{
    ViewBag.Title = "Available Massages";
}

<div class="row">
    <div class="col-lg-8 mx-auto text-center">
        <div class="mb-4">
            <h6 class="text-uppercase">@ViewBag.Title</h6>
            <hr class="solid">
        </div>
    </div>
</div>

<div asp-validation-summary="All" class="text-danger"></div>

@if (Model.Massages != null)
{
    <div class="card-deck">
        @foreach (var massage in Model.Massages)
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3" style="width: 16rem">
                        <img class="card-img-top" src="@massage.ImageUrl" alt="@massage.ShortDescription">
                        <div class="card-body text-center">
                            <h5 class="card-title text-center">@massage.Name</h5>
                            <p class="card-text">@massage.ShortDescription</p>
                            <a asp-controller="Categories" asp-action="AvailableMassageDetails" asp-route-massageId="@massage.Id" asp-route-masseurId="@Model.MasseurId"  class="btn btn-outline-primary">View More</a>
                            <a asp-controller="Appointments" asp-action="Book" asp-route-massageId="@massage.Id" asp-route-masseurId="@Model.MasseurId" class="btn btn-outline-primary">Book</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@{
    var previousPage = Model.CurrentPage - 1;

    if (previousPage < 1)
    {
        previousPage = 1;
    }
}

<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Categories"
           asp-action="AvailableMassages"
           asp-route-currentPage="@(Model.CurrentPage - 1)">
            Previous
        </a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == Model.MaxPage ||
                                     Model == null;
    }

    <div class="col-md-6">
        <a class="btn btn-primary float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="Categories"
           asp-action="AvailableMassages"
           asp-route-currentPage="@(Model.CurrentPage + 1)">
            Next
        </a>
    </div>
</div>