@model List<AllCategoriesViewModel>

@foreach (var category in Model)
{
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <div class="mb-4">
                <h6 class="text-uppercase">@category.Name</h6>
                <hr class="solid">
            </div>
        </div>
    </div>

    @foreach (var massage in category.Massages)
    {
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-3" style="width: 16rem">
                    <img class="card-img-top" src="@massage.ImageUrl" alt="@massage.ShortDescription">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center">@massage.Name</h5>
                        <p class="card-text">@massage.ShortDescription</p>
                        <a asp-controller="Categories" asp-action="Details" asp-route-id="@massage.Id" class="btn btn-primary">View More</a>
                    </div>
                </div>
            </div>
        </div>
    }
}
