@model AppointmentsListViewModel
@using static MassageStudioLorem.Global.GlobalConstants.DateTimeFormats

@{ ViewBag.Title = "My Appointments"; }

@if (Model.UpcomingAppointments == null || Model.PastAppointments == null)
{
    <div class="text-center" style="font-weight: bold">
        Nothing booked yet! Would you like to treat yourself with a massage?
    </div>
    <div class="text-center">
        <a asp-controller="Massages" asp-action="All" class="btn btn-outline-primary" style="margin-top: 20px">Book a massage</a>
    </div>
}
@if (Model.UpcomingAppointments != null)
{
    <h2>Upcoming(@Model.UpcomingAppointments.Count())</h2>

    <table class="table table-bordered table-striped text-center">
        <thead class="thead-light">
        <tr>
            <th scope="col">Date and Hour</th>
            <th scope="col">Massage</th>
            <th scope="col">Masseur</th>
            <th scope="col">Masseur Phone Number</th>
            <th scope="col">Cancellation</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var appointment in this.Model.UpcomingAppointments)
        {
            <tr>
                <th scope="row">@appointment.Date.ToString(DateTimeFormat) @appointment.Hour</th>
                <td>@appointment.MassageName</td>
                <td>@appointment.MasseurFullName</td>
                <td>
                    <span class="fas fa-phone fa-lg text-dark"></span> @appointment.MasseurPhoneNumber
                </td>
                <td>
                    <a class="btn btn-outline-danger btn-sm"
                       asp-controller="Appointments" asp-action="CancelAppointment" asp-route-appointmentId="@appointment.Id">
                        Cancel
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <hr class="bg-dark m-4" style="height: 6px;"/>
}

@if (Model.PastAppointments != null)
{
    <h2>Past(@Model.PastAppointments.Count())</h2>

    <table class="table table-bordered table-striped text-center">
        <thead class="thead-light">
        <tr>
            <th scope="col">Date and Hour</th>
            <th scope="col">Massage</th>
            <th scope="col">Masseur</th>
            <th scope="col">Masseur Phone Number</th>
            <th scope="col">Review Masseur</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var appointment in this.Model.PastAppointments)
        {
            <tr>
                <th scope="row">@appointment.Date.ToString(DateTimeFormat) @appointment.Hour</th>
                <td>@appointment.MassageName</td>
                <td>@appointment.MasseurFullName</td>
                <td>
                    <span class="fas fa-phone fa-lg text-dark"></span> @appointment.MasseurPhoneNumber
                </td>
                <td>
                    @if (appointment.IsUserReviewedMasseur == false)
                    {
                        <a class="btn btn-outline-success btn-sm"
                           asp-controller="Reviews" asp-action="ReviewMasseur" asp-route-masseurId="@appointment.MasseurId" asp-route-appointmentId="@appointment.Id" asp-route-clientId="@appointment.ClientId">
                            Write A Review
                        </a>
                    }
                    else
                    {
                        <p>Already Reviewed!</p>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}