@model MassageStudioLorem.Models.Reviews.MasseurAllReviewsQueryViewModel

@{ ViewBag.Title = "Masseur Reviews"; }

@if (Model.MassageId == null)
{
    <a asp-controller="Massages" asp-action="AvailableMassages" asp-route-categoryId="@Model.CategoryId" asp-route-masseurId="@Model.MasseurId" class="btn btn-outline-primary offset-md-6" style="margin-bottom: 10px">Book</a>
}
else
{
    <a asp-controller="Appointments" asp-action="Book" asp-route-massageId="@Model.MassageId" asp-route-masseurId="@Model.MasseurId" class="btn btn-outline-primary text-center offset-md-6" style="margin-bottom: 10px">Book</a>
}

@if (Model?.Reviews?.Count() > 0)
{
    <partial name="_ReviewsPartial" model="@Model.Reviews" />
}
else
{
    <div class="text-center" style="font-weight: bold">
    @NoReviewsFound
    </div>
}