@model MassageStudioLorem.Models.Masseurs.MasseursListViewModel

@{
    ViewBag.Title = "Masseurs";
}

<div asp-validation-summary="All" class="text-danger"></div>

@if (Model.Masseurs != null)
{
    <div class="card-deck">
        @foreach (var masseur in Model.Masseurs)
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3" style="width: 16rem">
                        <img class="card-img-top" src="@masseur.ProfileImageUrl" alt="Masseur's profile photo'">
                        <div class="card-body text-center">
                            <h5 class="card-title text-center">@masseur.FirstAndLastName</h5>
                            <div>
                                @*Rating: &nbsp;&nbsp;*@
                                <span class="star-rating">
                                    @{
                                        var rated = Math.Ceiling(masseur.Rating);
                                        var leftEmpty = 5 - rated;
                                    }
                                    @for (var i = 1; i <= rated; i++)
                                    {
                                        <span class="fas fa-star"></span>
                                    }
                                    @for (var i = leftEmpty; i >= 0; i--)
                                    {
                                        <span class="far fa-star"></span>
                                    }
                                    <input type="hidden" name="" class="rating-value" value="@masseur.Rating">
                                </span>
                                <span>@*&nbsp;*@ ( @masseur.Rating.ToString("F") / 5.00 ) from @masseur.RatersCount votes</span>
                            </div>
                            <a asp-controller="Categories" asp-action="Details" asp-route-id="tt" class="btn btn-outline-primary">View More</a>
                            <a asp-controller="Categories" asp-action="" asp-route-id="" class="btn btn-outline-primary">Massages</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}