@model MassageStudioLorem.Models.Masseurs.MasseurDetailsViewModel

@{
    ViewBag.Title = "Masseur Details";
}

<div id="main-content" class="blog-page">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12">
                <div class="card single_post">
                    <div class="body">
                        <div class="img-post">
                            <img class="d-block img-fluid" src="@Model.ProfileImageUrl" alt="@Model.FirstAndLastName's profile picture">
                        </div>
                        <h3 class="text-center" style="padding: 10px">
                            @Model.FirstAndLastName
                        </h3>
                        <div>
                            <span class="star-rating">
                                @{
                                    var rated = Math.Ceiling(Model.Rating);
                                    var leftEmpty = 5 - rated;
                                }
                                @for (var i = 1; i <= rated; i++)
                                {
                                    <span class="fas fa-star"></span>
                                }
                                @for (var i = leftEmpty; i >= 0; i--)
                                {
                                    <span class="far fa-star"></span>
                                }
                                <input type="hidden" name="" class="rating-value" value="@Model.Rating">
                            </span>
                            <span>( @Model.Rating.ToString("F") / 5.00 ) from @Model.RatersCount votes</span>
                        </div>
                        <h5 style="text-align: center">@Model.Description</h5>
                    </div>
                    <h6 class="text-center">
                        <span class="fas fa-phone fa-lg text-dark"></span> @Model.PhoneNumber
                    </h6>
                    <div class="footer text-center">
                        <div class="actions">
                            @if (Model.MassageId == null)
                            {
                                <a asp-controller="Categories" asp-action="AvailableMassages" asp-route-categoryId="@Model.CategoryId" asp-route-masseurId="@Model.Id" class="btn btn-outline-primary">Book</a>
                            }
                            else
                            {
                                <a asp-controller="Appointments" asp-action="Book" asp-route-massgeId="@Model.MassageId" asp-route-masseurId="@Model.Id" class="btn btn-outline-primary">Book</a>
                            }
                            @*<div href="javascript:void(0);" class="btn btn-outline-primary">Book a massage</div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>