@model IEnumerable<ReviewServiceModel>

<h2>Reviews(@Model.Count())</h2>

<table class="table table-bordered table-striped text-center">
    <thead class="thead-light">
    <tr>
        <th scope="col">Created On</th>
        <th scope="col">Client First Name</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var review in Model)
    {
        <tr>
            <td>
                @review.CreatedOn.ToString(DateTimeFormat)
                @review.CreatedOn.ToString("HH"):@review.CreatedOn.ToString("MM")
            </td>
            <td>@review.ClientFirstName</td>
            <td>@review.Content</td>
        </tr>
    }
    </tbody>
</table>